.about_user{
        // margin-top: -2em;
        // background-color: $accent_color;

    .about_user_inner{
        // margin-top: -3em;
        // background-color: $accent_color;
        padding: 1em;
        display: flex;
        width: 80%;
        margin: auto;
        color: $gray;

        .intro_column{
            margin-top: -3em;
        }
    
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: .3em;
            margin-bottom: .5em;
        }
        p{
            margin-bottom: 1em;
        }
    
        .about_user_right{
            flex: 1;
            padding-top: 7em;
            margin-left: 2em;
            
        }
    
        .about_user_left{
            flex: 1;
            padding-top: 7em;
            
            
            ul{
                list-style: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    
        
    }
}

@media screen and (max-width:50em){
    .about_user{
        .about_user_inner{
            width: 100%;
            display: block;

            .about_user_right{
                
                margin-left: 0;
                
            }
        
        }
    }
}