form{
    .form_btn{
        // style form button
        
        
    }
    button{
        border: .2em solid $accent_color !important;
        font-size: 1em !important;
        font-weight: bold;
        margin-bottom: 1em !important;
    }
    .form_style{
        background-color: white;
        height: 2em;
        width: 100%;
        margin-bottom: 1em;

        input{
            height: 100%;
        }
    }
    input, textarea{
        outline: none;
        width: 100%;
        font-size: 1.1em;
        padding: .5em;
        border: none;
        border-radius: .3em;
    }
    
}