.home{
    width: 100%;
    background-color: transparent;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow-x: hidden;

    .wave {
        height: 35vh;
        z-index: 5;
        margin: 0;
        margin-top: -8em;
    }
      
      .wave {
        transform: rotate(180deg);
        left: 0;
      }

    .mobile_wave{
        display: none !important;
    }  

    .icon{
        width: 4em;
        height: 4em;
        background-color: $accent_color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .3em;

        i{
            color: white;
            font-size: 3em;

        }
    }

    .home_contact_us{
        background-color: $bg_deep_blue;
        width: 100%;

        .home_contact_us_inner{
            padding: 1em;
            width: 98%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap:0 2em;

            .address{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h1{
                    margin-bottom: 1em;
                    color: $accent_color;
                }

                p{
                    margin-bottom: 2em;

                    i{
                        font-size: 2em;
                        margin-right: 1em;
                    }
                }
            }

            .contact_form{
                h2{
                    font-size: 3em;
                    margin: .5em 0;
                }
                p{
                    margin-bottom: 1em;
                }
            }
        }
    }

    .home_stratege{
        width: 90%;
        h3{
            color: $accent_color;
            margin-top: 3em;
        }
        h1{
            margin-bottom: 1em;
            color: $gray;
        }
        margin: 5em auto ;

        .home_stratege_inner{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap : 1em;
            color: black;

            .stratege_card{
                padding: 1em;
                border: .1em solid transparent;
                box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.274);
                min-height: 27em;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                transition: all .5s linear;

                &:hover{
                    background-color: #00bafe13;
                    box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.335);
                }

                h2{
                    margin: 1em 0;
                    color: $accent_color;
                }

                img{
                    width: 4em;
                    height: 4em;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .resource_clicked{
        .btn_center{
            margin-left: -.1em;
            background-color: $accent_color;
            color: black;
        }
        span{
            margin-left: 1em;
            color: red;
            cursor: pointer;
            font-size: 1.4em;
        }
    }

    .mobile, .mobile_landing_page{
        display: none;
    }

    .window{
        display: block;
    }

    button{
        margin-left: 9em;
        margin-bottom: 2em;
        font-size: 1.2em;
        position: relative;
        padding-right: 1em;
        

        i{
            font-size: 1.4em;
            margin-left: .5em;
            position: absolute;
            top: .2em;
            animation: move_side .5s alternate ease infinite;
        }
    }
    
    
    .landing_page{
        margin-top: 2em;
        /* -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        width: 100%;
        height: 95vh;
        background-color: $landing_page_bg;
        position: relative;
        
        

        .landing_page_inner{
            display: flex;
            width: 80%;
            margin: auto;

            .space_innovations{
                flex: 1;
                
                .space_innovations_inner{
                    position: absolute;
                    width: 100%;
                    height: 90vh;
                    z-index: 10000;

                    .top_img{
                        width: 41em;
                        height: 40em;
                        object-fit: cover;
                        border-radius: .9em;
                        animation: move_down .6s alternate ease-out infinite;
                    }
                    .bottom_img{
                        position: absolute;
                        top: 10em;
                        left: 1em;
                        width: 17em;
                        height: 35em;
                        object-fit: cover;
                        z-index: 100000;
                        border-radius: .9em;
                        animation: move_up .5s alternate ease-in infinite;
                    }
                }
            }

            .landing_page_info{
                flex: 1;
                margin-top: 8em;
                position: relative;
                z-index: 100;

                .type_writing{
                    min-height: 14em;
                
                    h1{
                        color: $bg_deep_blue;
                        margin-bottom: 1em;
                        text-align: center;
                    }
                }
                .more_landing_page_info{
                    p{
                        span{
                            color: $bg_deep_blue;
                        }
                        font-size: 1.2em;
                        margin-bottom: 1.5em;
                    }
                    .landing_btns{
                        display: flex;
                        button{
                            flex: 1;
                            position: absolute;
                            right: 7em;
                            width: 10em;
                            top: -.6em;
                            
                        }
                        .landing_white_btn{
                            flex: 1;
                            span{
                                background-color: white;
                                color: $accent_color;
                                margin-top: 2em;
                                padding: .65em 1.5em;
                                font-size: 1.1em;
                                transition: background-color .5s linear;
                                cursor: pointer;
                                border-radius: .3em;
                                box-shadow: $box_shadow;
                                

                                &:hover{
                                    background-color: $accent_color;
                                    color: $bg_deep_blue;
                                    
                                }
                            }
                        }
                    }
                }
            }
            
        }
        
    }

    .home_main{
        
        width: 100%;

        .home_main_inner{
            margin: -4.1em auto 0;

            .home_event{
                width: 90%;
                margin: 8em auto 3em;
                color: black;

                h3{
                    color: $accent_color;
                    margin-top: 3em;
                }
                h1{
                    margin-bottom: 1em;
                    color: $gray;
                }

                .home_event_inner{
                    display: flex;

                    .home_event_left{
                        flex: 1;
                        img{
                            width: 100%;
                            height: 20em;
                            object-fit: cover;
                        }
                        
                    }

                    .home_event_right{
                        flex: 1;
                        margin: 5em 0 0 4em ;

                        h2{
                            margin-bottom: 1.5em;
                            color: $accent_color;
                        }
                    }
                    
                }
            }

            .home_work_content{
                width: 90%;
                margin: -.5em auto 3em;
                color: black;

                h3{
                    color: $accent_color;
                    margin-top: 3em;
                }
                h1{
                    margin-bottom: 1em;
                    color: $gray;
                }

                .home_work_content_inner{

                    .card{
                        position: relative;
                        overflow: hidden;
                        color: white;
                        transition: all .5s linear;
                     
                        img{
                            height: 15em;
                            width: 100%;
                            object-fit: cover;
                            z-index: 1;
                            transition: all .5s linear;
            
                            &:hover{
                                background-color:  rgba(0, 0, 0, 0.712);
                                transform: scale(1.2);
                            }
                        }

                    
                        .open{
                            background-color: rgba(0, 0, 0, 0.342);
                            position: absolute;
                            top: 0em;
                            bottom: .4em;
                            right: 0;
                            left: 0;
                         
            
                            .open_inner{
                                margin: 1em;
                                height: 15em;
                                border-radius: .2em;
                                padding: 1em;
                                text-align: center;
            
            
                                h2{
                                   
                                    position: absolute;
                                    bottom: .5em;
                                    left: .5em;
                                    font-size: 1.5em;
                                    font-weight: bolder;
                                    
                                 
                                }
                             
                            }
                        }
            
                        &:hover img{
                            transform: scale(1.2);
                            
                        }
                        &:hover .open{
                            background-color: transparent;
                            
                        }
            
                       
                    }

                    .first_col{
                        display: grid;
                        grid-template-columns: 2fr 3fr ;
                        
                        .fimg{
                            height: 15em;
                        }
            
                    }

                    .second_col{
                        display: grid;
                        grid-template-columns: 3fr 2fr ;
                        

                        .simg{
                            height: 15em;
                        }
                    }

                    .third_col{
                        display: grid;
                        grid-template-columns: 2fr 3fr;
                        

                        .timg{
                            height: 15em;
                        }
                    }
                }
            }

            .first_content{
                // background-color: cornflowerblue;
                margin-top:13em;
                min-height: 25em !important;
            }

            

        .home_content{
            color: white;
            min-height: 30em;

            
            
            .title{
                font-size: 2.5em;
                text-align: left;
                color: $accent_color;
                width: 80%;
                margin-top: -1em;
                margin-bottom: 2em;
              
            }
            .title_line{
                width: 10%;
                height: .3em;
                background-color: $accent_color;
                margin-top: -4em;
                color: $bg_deep_blue;
            }

            .sub_title{
                margin: 1em 0;
            }

            .home_content_inner{
                display: flex;
                width: 90%;
                margin : auto;
                position: relative;
                color: rgb(22, 21, 21);

                .bg_about_back_line{
                    width: 80%;
                    height: 15em;
                    position: absolute;
                    top: 5.5em;
                    right: 0;
                    left: 22.5%;
                    border: .3em solid $accent_color;
                    float: right;
                    z-index: 0;
                    
                }

                img{
                    width: 33em;
                    object-fit: cover;
                    height: 17.5em;
                    display: inline-block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .left{
                    flex: 1;
                    margin: 3em 0 0 2em ;
                    background-color: white;
                    border-radius: .3em;
                    z-index: 100;
                    height: 60vh;
                    padding: 1em;
                   
                    .left_btn{
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 3em;
                    }

                    p{
                        font-size: 1.2em;
                        margin-bottom: .5em;
                    }
                }
                .right{
                    flex: 1;
                    margin-top: -1.5em;
                    background-color: $accent_color;
                    border-radius: .3em;
                    
                    position: relative;
                    height: 60vh;
                    width: 20em !important;

                    .right_inner{
                        margin-top: 3em;
                        background-color: $accent_color;
                        border-radius: .3em;
                        position: absolute;
                        right: 4em;
                        height: 18em;
                        width: 33em;
                        z-index: 100;

                    }
                }
            }
        }
        
        }
    }

    
}

@keyframes move_down{
    from{
        transform: translateY(-1px);
    }

    to{
        transform: translateY(2px);
    }
}

@keyframes move_up{
    from{
        transform: translateY(2px);
    }

    to{
        transform: translateY(-1px);
    }
}

@media screen and (max-width:50em) {
    .home{
        margin-top: -2.5em;

        .mobile_wave {
            display: block !important;
            height: 42vh;
            position: relative;
            z-index: -1;
            margin: 0;
            margin-top: -8em;
        }
          
          .mobile_wave {
            transform: rotate(180deg);
            left: 0;
          }
          
        
        .landing_page{
            display: none;
        }
        .mobile_landing_page{
            display: block;
           margin-top: -6em;
            background-color: $accent_color;
            height: 50em;

            .mobile_landing_page_inner{
               padding: 1em;

                .mobile_landing_page_info{
                    padding-top: 2em;

                    .more_landing_page_info_inner{
                      
                    }
                    
                    p{
                        span{
                            color: $bg_deep_blue;
                            font-weight: bold;
                        }
                    }
                    .mobile_type_writing{
                        min-height: 20em;
                        
                        h1{
                            color: $bg_deep_blue;
                            text-align: center;
                        }
                    }
                }

                .mobile_space_innovations{
                    margin-bottom: .2em;
                    .mobile_space_innovations_inner{
                        display: flex;
                       
                        .top_img{
                            width: 23em;
                            height: 18em;
                            object-fit: cover;
                        }
                        .bottom_img{
                            width: 10em;
                            height: 18em;
                            object-fit: cover;
                            position: absolute;
                            left: 2em;
                            
                        }
                    }
                }
            }
        }

        p{
            font-size: 1.2em;
        }
       .home_contact_us{
           .home_contact_us_inner{
               .address{
                   margin-top: 2em;
               }
           }
       }
        .mobile{
            display: block;

            .resource_clicked{
            
                .btn_center{
                    margin-top: .5em !important;
                    margin-left: 1em !important;
                    background-color: $accent_color;
                    color: black;

                }
                span{
                    color: red;
                    cursor: pointer;
                    font-size: 1.6em;

                    i{
                        margin-top: .5em;
                        margin-left: 5em;
                    }
                }
            }
        }

        .window{
            display: none;
        }

        button{
            margin:2em 0 0 1em;

            i{
                margin-left: 1.5em;
            }
    
        }
        

        .home_main{
            .home_main_inner{

                .home_stratege{
                    h1{
                        font-size: 1.5em;
                    }
                }

                .home_work_content{
                    margin-top: -4em;
                    h1{
                        font-size: 1.5em;
                    }
                    .home_work_content_inner{
                       
                        .card{
                            .first_col{
                                grid-gap:0 0 1em 0
                            }
                        }
                        .third_col, .second_col, .first_col{
                            display: block;
                            .fimg, .simg, .timg{
                                margin-bottom: 1em;
                            }
                        }
                    }
                }
                .home_event{
                    h1{
                        font-size: 1.5em !important;
                    }
                    .home_event_inner{
                        display: block;

                    .home_event_right{
                        margin-left: 0;

                        p{
                            font-size: 1.4em !important;
                            margin-bottom: 1em !important;
                        }
                    }
                    }
                }
                
                .first_content{
                    .title{
                        margin-top: .5em;
                        width: 100%;
                    }
                }
                .home_content{
                    padding-bottom: 4em;

                    .title_line{
                        width: 20%;
                    }

                    .home_content_inner{
                        display: block;
                        width: 100%;
                        margin: auto;

                        .bg_about_back_line{
                            height: 58em;
                            width: 90%;
                            margin-top: -14em;
                            left: 1em;
                            z-index: 1;
                            display: none;
                        }

                        img{
                            width: 23em;
                            display: block;
                            
                            height: 16em;
                            margin: 2em auto 0;
                        }
                        

                        .left{
                            
                            height: auto;
                            width: 100%;
                            margin: -13em auto 0;

                            .type_writing{
                                margin-bottom: 5em;
                                min-height: 14em;
                                h1{
                                    color: $accent_color;
                                }
                            }

                            .left_btn{
                                display: flex;
                                justify-content: flex-end;
                                margin-top: 0;
                            }

                            p{
                                font-size: 1.2em;
                            }
                        }
                        .right{
                            margin-top: 30em;
                            height: auto;
                            width: 100% !important;
                            background-color: $accent_color !important;

                            .right_inner{
                                right: 0 !important;
                                left: 0;
                                width: 100%;
                                height: 25em;
                                margin: -27em auto 0;
                            }
                        }
                    }
                }
            }
        }
    }
}