.nav_mobile{
    
    .phone{
        display: flex;
        justify-content: flex-end;
        padding: 1em 2em 1em 0 ;
        height: 5%;
        background-color: $gray;
        font-size: .7em;
        font-weight: 500;

       span{
           margin-left: .5em;
       }

       .bar_line{
           color: chocolate;
       }
    }
    .nav_dropdown{

        .nav_dropdown_open{
            position: absolute;
            top: 3em;
            left: 25em;
            display: flex;
            flex-direction: column;
            display: none;
            
            
        }
        &:hover .nav_dropdown_open{
            background-color: $gray;
            color: chocolate;
            display: block;

        }
    }

    

    .main_nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1em;
        margin-top: 2em;
        padding: .5em 5em;
        z-index: 100;
        position: absolute;

        .hamburger{
            margin-right: 2em;
            cursor: pointer;
            

            &.move_right{
                  position: absolute;
                  right: 1em;  
            }

            i{
                transition: all .5s linear;
                font-size: 1.2em;
                &:hover{
                    color: chocolate;
                }
            }

            .line{
                width: 2em;
                height: .1em;
                background-color: white;
                position: relative;

                &:hover{
                    background-color: chocolate;
                    width: 2em;
                    height: .1em;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: .8em;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 1.5em;
                    height: .14em;
                    background-color: white;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: .4em;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 1em;
                    height: .15em;
                    background-color: white;
                }
            }
        }

        .logo{
            margin-top: -1em;
        }

        ul{
            list-style: none;
            display: flex;
            font-size: 1em;
            font-weight: 500;

            .contact{
                background-color: $gray;
                border-radius: .3em;

                &:hover{
                    background-color: chocolate;
                    
                    border-radius: .3em;
                }

                a{
                    &:hover{
                        color: white;
                    } 
                }
            }

            li{
                margin-left: .5em;
                transition: .5s linear;
                padding: .5em 1em;

                &:hover{
                    background-color: $gray;
                    
                    border-radius: .3em;
                }

                a{
                    &:hover{
                        color: chocolate;
                    } 
                }
            }
            
        }
    }
    
}

@media screen and (max-width: 50em) {
    
    .nav_mobile{
        
        .main_nav{
            padding: 1em;

            ul{
                .contact{
                    background-color: chocolate;
                }
            }

            .hamburger{
                margin-right: .8em;

                i{
                    font-size: 1.3em;
                    position: absolute;
                    top: -.3em;
                    right: .5em;
                }
            }

            .logo{
               h1{
                   font-size: 1.5em;
               }
            }

            ul{
                background-color: $gray;
                display: block;
                position: fixed;
                top: 8em;
                right: 0;
                left: 0;
                bottom: 0;
                overflow: auto;
                height: 80vh;

                li{
                    margin-top: 1em;
                    font-size: 1.5em;
                    // background-color: black;
                }
            }
        }

        .nav_dropdown{

            .nav_dropdown_open{
                top: 3em;
                
                
            }
            &:hover .nav_dropdown_open{
                background-color: $gray;
                color: chocolate;
                display: block;
    
            }
        }
    }
}