.nav{
    width: 100%;
    height: 14vh;
    color: white;
    
    
    .nav_mobile{
        display: none;
    }

    .phone_mobile{
        display: none;
    }

    .phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em 1em 0 ;
        height: 5%;
        font-size: .7em;
        margin-top: -2em;
        background-color: $bg_deep_blue;
        font-weight: bold;
        z-index: 100;

        .phone_left{
            flex: 1;
            background-color: $accent_color;
            clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
            width: 100%;
            height: 100%;
            padding: 1em;
        }
        .phone_right{
            flex: 1;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
            background-color: $bg_deep_blue;
            margin-right: 6em;

            i{
                margin-right: 1em;
            }
        }

        i{
            font-size: 1.5em;
        }

       span{
           margin-left: .5em;
           
       }

       .bar_line{
           color: $bg_deep_blue;
           font-size: 1.5em;
           margin: 0 1.5em;
       }
    }
    .nav_dropdown{
        
        .nav_dropdown_open{ //work on the resource drop down here
            position: absolute;
            top: 5em;
            left: 25em;
            display: flex;
            flex-direction: column;
            display: none;
            
            
        }
        &:hover .nav_dropdown_open{
            background-color: white;
            color: $accent_color;
            display: block;

        }
    }

    

    .main_nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        margin-top: -1em;
        padding: .5em 5em;
        z-index: 100;
        position: absolute;
        background-color: white;
        height: 5em;
        color: $accent_color;
        transition: background-color .5s linear;
        
        .contact{
            a{
                color: white;
            }
        }
     
        
        a{
            color: $accent_color;
            
        }

        button{
            
            a{
                color: white;
            }
        }

        &.open{
            position: fixed;
            top: -2em;
            right: 0;
            left: 0;
            background-color: $accent_color;
            padding-top: 1.5em;
            z-index: 10000;
            margin-top: 2em;
            box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.383);
            color: white;
            overflow-x: hidden;
            height: 4em;

            a{
                color: white;
            }

            .logo{
                padding-bottom: .5em;
            }
            .menu{
                padding-bottom: .6em;
            }

            .contact{
                background-color: $bg_deep_blue;

                a{
                    color: white;
                }
            }
        }

        .hamburger{
            margin-right: 2em;
            cursor: pointer;
            

            &.move_right{
                  position: absolute;
                  right: 1em;  
            }

            i{
                transition: all .5s linear;
                font-size: 1.2em;
                &:hover{
                    color: $accent_color;
                }
            }

            .line{
                width: 2em;
                height: .1em;
                background-color:white;
                position: relative;

                &:hover{
                    background-color: $accent_color;
                    width: 2em;
                    height: .14em;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: .8em;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 1.5em;
                    height: .14em;
                    background-color: white;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: .4em;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 1em;
                    height: .14em;
                    background-color: white;
                }
            }
        }

        .logo{
            margin-top: -.5em;
            font-size: 1.2em;
        }

        ul{
            list-style: none;
            display: flex;
            font-size: 1em;
            font-weight: 500;

            .contact{
                background-color: $bg_deep_blue;
                border-radius: .3em;

                &:hover{
                    background-color: lighten($color: #233d93, $amount: 9);
                    border-radius: .3em;
                }

                a{
                    color: $accent_color;
                    &:hover{
                        color: $accent_color;
                    } 
                }
            }

            li{
                margin-left: .5em;
                transition: .5s linear;
                padding: .5em 1em;

                &:hover{
                    background-color: $bg_deep_blue;
                    color: $accent_color;
                    border-radius: .3em;
                }

                a{
                    &:hover{
                        color: $accent_color;
                    } 
                }
            }
            
        }
    }
  
    
}

@media screen and (max-width: 50em) {
    .nav{
        
        

        .nav_inner{
            display: none;
        }
        .nav_mobile{
            display: block;
            

            &.open{
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                background-color: $gray;
                
            }

            
            .phone{
                margin-top: 0;
                background-color: $accent_color;

                // .bar_line{
                //     background-color: $bg_deep_blue;
                // }
                p{
                    span{
                        color: $accent_color;
                        margin-left: 1.5em;
                        font-size: 1.3em;
                    }
                }
            }
            .mobile_social{
                display: flex;

                i{
                    margin-left: 1em;
                    font-size: 2em;
                }
            }
        }

        .phone_mobile{
            display: block;
        }
        
        .main_nav{
            padding: 1em;
            margin-top: -.2em !important;
            background-color: transparent;
            
            &.open{
                margin-top: 2em !important;

                .hamburger{
                    
                    .line{
                        background-color: white !important;
                        
                        
                        
                        &::before{
                            background-color: white !important;
                            
                            
                        }
                        &::after{
                            background-color: white !important;
                            
                            
                        }
                    }
                }

                .logo{
                    margin-top: .2em;
                }
                .hamburger{
                    margin-bottom: -1em;
                }
            }

            .hamburger{
                margin-right: .8em;
                margin-top: -2em;
                .line{
                    background-color: $accent_color !important;
                    height: .14em;
                    
                    &::before{
                        background-color: $accent_color !important;
                        height: .14em;
                    }
                    &::after{
                        background-color: $accent_color !important;
                        height: .14em;
                    }
                }
            }

            .logo{
                // margin-top: -5em;
               h1{
                   font-size: 1em;
                   a{
                    // color: white;
                   }
               }
            }

            ul, .ul{
                background-color: $accent_color;
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                overflow: auto;
                height: 100vh;
                width: 100%;
                

                &.open{
                    border-top: .3em solid $accent_color;
                    top: 3.1em;
                }

                .contact{
                    margin-bottom: 2em;
                }

                li{
                    margin-top: .5em;
                    font-size: 1.5em;

                    a{
                        color: white;
                    }
                }
            }
        }

        .nav_dropdown{

            .nav_dropdown_open{
                top: 3em;
                
                
            }
            &:hover .nav_dropdown_open{
                background-color: $gray;
                color: $accent_color;
                display: block;
    
            }
        }
    }
}